/* FONTS
font-family: 'Hind Guntur', sans-serif;
font-family: 'Hind Vadodara', sans-serif;
font-family: 'Gudea', sans-serif;
font-family: 'Ropa Sans', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Maven Pro', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Asap', sans-serif; 98cfd9
*/

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header Section */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header .btn {
    background-color: white;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

header .btn:hover {
    background-color: #45a049;
    color: white;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 10px;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Intro Section */
#intro {
    padding: 50px;
    text-align: center;
    background-color: #f9f9f9;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #4CAF50;
}

.social-links a:hover {
    text-decoration: underline;
}
